*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: gilroy-regular;
}
.autoGrid{
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 1em;
 
  
}
.post{
  border-radius: 1em;
  padding: 1em;
  border: .01em solid rgb(188, 185, 185);
}
.post img{
 width: 100%;
  height: auto;      
  display: block;   
  border-radius: 0.5em;
}
.post h4 {
  margin-top: 1em;
  margin-bottom: 0.25em;
  font-size: 1rem;
}

.post p {
  font-size: 0.9rem;
  line-height: 1.4;
}





@media(min-width:600px){
  .autoGrid{
  
  width: 60%;
  margin-inline: auto;
  
}

}






























/* *{
    font-family: gilroy-regular;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body,html{
  min-height: 100%;
} */


