*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: gilroy-regular;
}
.autoGrid{
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 1em;
  width: 60%;
  margin-inline: auto;
  
}
.post{
  border-radius: 1em;
  padding: 1em;
  border: .1em solid grey;
}
.post img{
  width: 100%;
  height: 40%;
}




.button{
  padding: 1em;
}
button{
  padding: .5em 1em;
}


































/* *{
    font-family: gilroy-regular;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body,html{
  min-height: 100%;
} */


